<h2>Tarif Labuh Edit</h2>
<form class="form-horizontal" name="labuhEdit">
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="no-2"><span class="text-danger">*</span>Nomor SK</label>
    	<div class="col-sm-7">
        <div class="form-control">{{dataLabuh.nomorSk}}</div>
      		<input type="hidden" name="nomorSk" class="form-control" ng-model="dataLabuh.nomorSk" disabled required>
           <span class="has-error" ng-show="labuhEdit.nomorSk.$touched && labuhEdit.nomorSk.$invalid">
                Isi Nomor SK dibutuhkan.
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="tglberlaku"><span class="text-danger">*</span>Tgl. Berlaku</label>
    	<div class="col-sm-7">
      		 <div pf-datepicker id="IdtglBerlaku" options="options" data-date-format="dd-mm-yyyy" date="dataLabuh.tglBerlaku" ng-model="dataLabuh.tglBerlaku" ng-change="test();" required></div>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-2"><span class="text-danger">*</span>Jenis Pelayaran</label>
    	<div class="col-sm-7">
      		<select pf-select ng-options='option.value as option.caption for option in jnsPelayaran' ng-model="dataLabuh.jenisPelayaran" required></select>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="kls-2"><span class="text-danger">*</span>Kelas Pelabuhan</label>
    	<div class="col-sm-7">
      		<select pf-select ng-options='option.value as option.caption for option in klsPelabuhan' ng-model="dataLabuh.kelasPelabuhan" name="klsPelabuhan" required></select>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="knjng-2"><span class="text-danger">*</span>Kunjungan</label>
    	<div class="col-sm-7">
      		 <select pf-select ng-options='option.value as option.caption for option in kunjungan' ng-model="dataLabuh.kunjungan" name="kunjungan" required></select>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="nilaiTarif"><span class="text-danger">*</span>Tarif Dasar</label>
    	<div class="col-sm-7">
      		<input type="number" maxlength="15" decimal-number min="0" id="nilaiTarif" name="nilaiTarif" class="form-control" ng-model="dataLabuh.nilaiTarif" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" required>
           <span class="has-error" ng-show="labuhEdit.nilaiTarif.$touched && labuhEdit.nilaiTarif.$invalid">
                  Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="valuta-2"><span class="text-danger">*</span>Valuta</label>
    	<div class="col-sm-7">
      		<select pf-select ng-model="dataLabuh.valuta" name="valuta" ng-options='option.value as option.caption for option in valuta' required></select>
    	</div>
  	</div>
  	<div class="form-group">
		  <label class="col-sm-2 control-label" for="file-8"><span class="text-danger">*</span>Dok. Pendukung</label>
    	<div class="col-sm-7">
      		<input type="file" id="file-1" class="form-control" file-input="uploadFile" accept=".pdf,.jpg" ng-model="dokumen">
          <a href="" ng-click="buildPDF()"><i class="fa fa-file-pdf-o" ng-show="dataLabuh.dokumen"></i> {{dataLabuh.dokumen}}</a>
    	</div>
      <a class="large info-tooltip" data-module-name="mgcrea.ngStrapDocs" ng-plunkr data-html="true" data-title="{{tooltipInfo}}" data-placement="right" bs-tooltip><i class="fa fa-question-circle fa-lg color-icon-question"></i></a>
  	</div>
  	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-7">
	      	<button class="btn btn-default btn-lg" onclick="location.href='#/labuh/list';">Batal</button>
	      	<button type="submit" ng-disabled="labuhEdit.$invalid;" ng-click="submit();showLoader=true;buttonDisabled=true" class="btn btn-primary btn-lg"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span>Simpan</button>
	    </div>
  	</div>

</form>

<script>
  // Initialize Boostrap-datepicker
  $('#tgl-2').datepicker({
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true
  });
</script>
