<h2>Petugas Tambat Edit</h2>

<form class="form-horizontal" name="petugasTambatForm">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="tarif-5"><span class="text-danger">*</span>Kode</label>
        <div class="col-sm-7">
            <input type="text" maxlength="9" class="form-control" ng-model="petugasTambat.kodePetugas" name="kode" required>
            <span class="has-error" ng-show="petugasTambatForm.kode.$touched && petugasTambatForm.kode.$invalid">
            Isi kode dibutuhkan.
        </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="tarif-5"><span class="text-danger">*</span>Nama</label>
        <div class="col-sm-7">
            <input type="text" maxlength="30" class="form-control" ng-model="petugasTambat.namaPetugas" name="nama" required>
            <span class="has-error" ng-show="petugasTambatForm.nama.$touched && petugasTambatForm.nama.$invalid">
            Isi nama dibutuhkan.
        </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="tarif-5">
            <span class="text-danger">*</span>Username</label>
        <div class="col-sm-7">
            <input type="text" maxlength="30" class="form-control" ng-model="petugasTambat.username" name="username" required>
            <span class="has-error" ng-show="petugasTambatForm.username.$touched && petugasTambatForm.username.$invalid">
                Isi username dibutuhkan.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>Email</label>
        <div class="col-sm-7">
            <input type="email" maxlength="30" class="form-control" ng-model="petugasTambat.email" name="email" required>
            <span class="has-error" ng-show="petugasTambatForm.email.$touched && petugasTambatForm.email.$invalid">
            Isi email dibutuhkan.
        </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="tarif-5"><span class="text-danger">*</span>Handphone</label>
        <div class="col-sm-7">
            <input type="text" maxlength="15" only-num class="form-control" ng-model="petugasTambat.hp" name="handphone" required>
            <span class="has-error" ng-show="petugasTambatForm.handphone.$touched && petugasTambatForm.handphone.$invalid">
            Isi hp dibutuhkan.
        </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>Grup</label>
        <div class="col-sm-4">
            <select pf-select ng-model="petugasTambat.idGroupPetugasTambat" name="kodegrup" ng-options='option.id as option.nama  for option in grupTambat' required></select>
            <span class="has-error" ng-show="petugasTambatForm.kodegrup.$touched && petugasTambatForm.kodegrup.$invalid">
            Isi grup dibutuhkan.
          </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>Tambatan</label>
        <div class="col-sm-4">
            <select pf-select ng-model="petugasTambat.idGroupDermagaTambat" name="tambatan" ng-options='option.id as option.nama  for option in grupDermaga' required></select>
            <span class="has-error" ng-show="petugasTambatForm.tambatan.$touched && petugasTambatForm.tambatan.$invalid">
            Isi tambatan dibutuhkan.
          </span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
            <button type="button" class="btn btn-primary btn-lg" ng-disabled="petugasTambatForm.$invalid;" ng-click="submit();showLoader=true;buttonDisabled"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span>Simpan</button>
        </div>
    </div>