<h2>Tarif Pandu Baru</h2>
<form class="form-horizontal" name="panduAdd">
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="no-7"><span class="text-danger">*</span>Nomor SK</label>
    	<div class="col-sm-7">
      		<input type="text" name="nomorSk" maxlength="30" class="form-control" ng-model="pandu.nomorSk" required>
          <span class="has-error" ng-show="panduAdd.nomorSk.$touched && panduAdd.nomorSk.$invalid">
                Isi Nomor SK dibutuhkan.
          </span>
    	</div>
      <a ng-if="!pandu.nomorSk == ''"  class="fa fa-check fa-lg" aria-hidden="true"></a>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="tgl-7"><span class="text-danger">*</span>Tgl. Berlaku</label>
    	<div class="col-sm-7">
           <div pf-datepicker id="IdtglBerlaku" data-date-format="dd-mm-yyyy" options="options" date="tglBerlaku" name="tglBerlaku" required></div>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-7"><span class="text-danger">*</span>Jenis Pelayaran</label>

      <div class="col-sm-7">
          <select pf-select ng-options='option.value as option.caption for option in jnsPelayaran' name="jenisPelayaran" ng-model="pandu.jenisPelayaran" required></select>
      </div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="tetap-7"><span class="text-danger">*</span>Tarif Tetap</label>
    	<div class="col-sm-7">
      		<input type="number" maxlength="15" decimal-number min="0" name="tarifTetap" class="form-control" ng-model="pandu.tarifTetap" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" required>
          <span class="has-error" ng-show="panduAdd.tarifTetap.$touched && panduAdd.tarifTetap.$invalid">
                  Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="variabel-7"><span class="text-danger">*</span>Tarif Variabel</label>
    	<div class="col-sm-7">
      		<input type="number" maxlength="15" decimal-number min="0" name="tarifVariabel" class="form-control" ng-model="pandu.tarifVariabel" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" required>
          <span class="has-error" ng-show="panduAdd.tarifVariabel.$touched && panduAdd.tarifVariabel.$invalid">
                  Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		  <label class="col-sm-2 control-label" for="valuta-7"><span class="text-danger">*</span>Valuta</label>
      <div class="col-sm-7">
          <select pf-select ng-options='option.value as option.caption for option in valuta' name="valuta" ng-model="pandu.valuta" required></select>
           <span class="has-error" ng-show="panduAdd.valuta.$touched && panduAdd.valuta.$invalid">
            Isi Valuta dibutuhkan.
          </span>
      </div>
  	</div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="jenisNegara"><span class="text-danger">*</span>Jenis Negara</label>
      <div class="col-sm-7">
          <select pf-select ng-options='option.value as option.caption for option in jenisNegara' name="jenisNegara" ng-model="pandu.jenisNegara" required></select>
           <span class="has-error" ng-show="panduAdd.jenisNegara.$touched && panduAdd.jenisNegara.$invalid">
            Isi Jenis Negara dibutuhkan.
          </span>
      </div>
    </div>
  	<div class="form-group">
		  <label class="col-sm-2 control-label" for="file-7"><span class="text-danger">*</span>Dok. Pendukung</label>
    	<div class="col-sm-7">
        <input type="file" name="dokPendukung" class="form-control" ng-model="dokPendukung" file-input="uploadFile"  accept=".jpg,.pdf" valid-file ng-required="true" >
      </div>
      <a class="large info-tooltip" data-module-name="mgcrea.ngStrapDocs" ng-plunkr data-html="true" data-title="{{tooltipInfo}}" data-placement="right" bs-tooltip><i class="fa fa-question-circle fa-lg color-icon-question"></i></a>
  	</div>
  	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-7">
	      	<button class="btn btn-default btn-lg" onclick="location.href='#/pandu/list';">Batal</button>
	      	<button type="button" class="btn btn-primary btn-lg" ng-disabled="panduAdd.$invalid;" ng-click="submit();showLoader=true;buttonDisabled=true">Simpan</button>
	    </div>
  	</div>
</form>
<script>
  // Initialize Boostrap-datepicker
  $('#tgl-7').datepicker({
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true
  });
</script>
