<div class="container">
<h2>Tarif Pandu Detail</h2>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="col-sm-2">Nomor SK</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.nomorSk}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Tgl. Berlaku</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.tglBerlaku | date: "dd-MM-yyyy"}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Jenis Pelayaran</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.jenisPelayaranText }}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Tarif Tetap</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.tarifTetap | currency : "" : 4}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Tarif Variabel</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.tarifVariabel | currency : "" : 4}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Valuta</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.valuta}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Jenis Negara</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentPanduDetails.jenisNegaraText}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Dok. Pendukung</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'><a href="" class="fa fa-file-pdf-o sm-1" aria-hidden="true"  ng-click="buildPDF()"  ng-show="contentPanduDetails.dokumen"> {{contentPanduDetails.dokumen}}</a></span>
	    </div>
  	</div>
  	<div class="form-group">
 	<div class="col-sm-9">
    <input type="button" onclick="location.href='#/pandu/list';" value="Tutup" class="btn btn-lg btn-primary" />
     </div>
    </div>
</form>

</div>
