<h2>Master Dermaga Kepil</h2>
<div pf-filter config="filterConfig"></div>

<table class="datatable table table-striped table-bordered">
  <thead>
    <tr>
        <td colspan="10">
            <span>Show : </span>
              <select ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
            <input type="button" ng-show="userRole.cflag" onclick="location.href='#/masterdermagakepil/new';" value="Dermaga Kepil Baru" class="btn-list btn btn-default pull-right" />
        </td>
    </tr>
    <tr>
      <td colspan="10" class="text-center">{{pagingText}}</td>
    </tr>
    <tr>
       <th width="30">No</th>
      <th ng-click="sortBy='kodeDermaga'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Kode Dermaga</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kodeDermaga' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kodeDermaga' && sortDesc)}"></span></div>
      </th>
      <th ng-click="sortBy='namaDermaga'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Nama Dermaga</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'namaDermaga' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'namaDermaga' && sortDesc)}"></span></div>
      </th>
      <th ng-click="sortBy='flagAktif'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Aktif</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'flagAktif' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'flagAktif' && sortDesc)}"></span></div>
      </th>
      <th class="table-col-full text-center">Action</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="item in items">
      <td>{{noIndex+$index +1}}</td>
      <td>{{item.kodeDermaga}}</td>
      <td>{{item.namaKodeDermaga}}</td>
      <td>{{item.flagAktif}}</td>
      <td class="text-center">
        <a href="#/masterdermagakepil/view/{{item.id}}" type="button" ng-show="userRole.rflag" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye" ></span></a>
        <a href="#/masterdermagakepil/edit/{{item.id}}" type="button" ng-show="userRole.uflag" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
        <a ng-click="deleteMasterKepil(item.id)" type="button" ng-show="userRole.dflag" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <paging class="small" page="currentPage" page-size="pageSize"
    total="totalItems" adjacent="2" dots="..." scroll-top="true"
    hide-if-empty="false" ul-class="pagination" active-class="active"
    disabled-class="disabled" show-prev-next="true"
    style="cursor: pointer;" paging-action="pageChanged(page)">
  </paging>
</div>
