<h2>Master Dermaga Kepil</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2">Kode Dermaga</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentMasterKepilDetails.kodeDermaga}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Nama Dermaga</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentMasterKepilDetails.namaDermaga}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Aktif</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentMasterKepilDetails.flagAktif}}</span>
    </div>
  </div>
<div class="form-group">
      <div class="col-sm-7">
          <button class="btn btn-primary btn-lg" ng-click="close()">Tutup</button>
      </div>
    </div>
    </div>
</form>
