<h2>Parameter Cabang</h2>
<div pf-filter config="filterConfig"></div>
	<table class="datatable table table-striped table-bordered">
		<thead>
			<tr>
          <td colspan="10">
          		Show :
            	<select class="" ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
              <input type="button" ng-show="userRole.cflag" onclick="location.href='#/cabang/new';" value="Parameter Baru" class="btn-list btn btn-default pull-right" />
          </td>
      </tr>
			<tr>
				<td colspan="7" class="text-center">{{pagingText}}</td>
			</tr>
			<tr>
				<th>No</th>
				<th ng-click="sortBy='nama'; sortDesc = !sortDesc; pageChanged(0);">
					<div class="pull-left">Nama Parameter</div>
					<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'nama' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'nama' && sortDesc)}"></span></div>
				</th>
				<th ng-click="sortBy='value'; sortDesc = !sortDesc; pageChanged(0);">
					<div class="pull-left">Nilai</div>
					<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'value' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'value' && sortDesc)}"></span></div>
				</th>
				<th ng-click="sortBy='tglMulai'; sortDesc = !sortDesc; pageChanged(0);">
					<div class="pull-left">Tgl. Mulai Berlaku</div>
					<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglMulai' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglMulai' && sortDesc)}"></span></div>
				</th>
				<th class="table-col-full text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items | filter:searchText">
				<td>{{noIndex+$index +1}}</td>
				<td>{{item.nama}}</td>
				<td>{{item.value}}</td>
				<td>{{item.tglMulai | date: "dd-MM-yyyy"}}</td>
				<td class="text-center">
					<a ng-show="userRole.rflag" href="#/cabang/view/{{item.id}}" type="button" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye"></span></a>
		  		<a ng-show="userRole.uflag" href="#/cabang/edit/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
		  		<a ng-show="userRole.dflag" ng-click="deleteIdlist(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div><paging class="small" page="currentPage" page-size="pageSize"
		  total="totalItems" adjacent="2" dots="..." scroll-top="true"
		  hide-if-empty="false" ul-class="pagination" active-class="active"
		  disabled-class="disabled" show-prev-next="true"
		  style="cursor: pointer;" paging-action="pageChanged(page)">
	</paging></div>
