<div class="container">
<h2>Parameter Cabang Detail</h2>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="col-sm-2">Nama Parameter</label>
	    <div class="col-sm-9">	
	      	<span>:</span>
	      	<span class='view-detail'> {{ParamCabang.nama}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Nilai</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'> {{ParamCabang.value}}</span>	
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Tgl. Mulai Berlaku</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'> {{ParamCabang.tglMulai}}</span>	
	    </div>
  	</div>
  	<button class="btn btn-primary btn-lg" ng-click="cancel()" style="float:left">Tutup</button>
</form>	
</div>

