<h2>Surcharge Tunda Edit</h2>
<form name="surchargetundaForm" class="form-horizontal">
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Tgl. Berlaku</label>
      <div class="col-sm-7">
          <div pf-datepicker options="options" date="dataSurchargeTunda.tglBerlaku"  data-date-format="dd-mm-yyyy"></div>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Nomor</label>
      <div class="col-sm-7">
          <input type="text" only-num maxlength="30" class="form-control" name="nomor" ng-model="dataSurchargeTunda.nomor" required/>
          <span class="has-error" ng-show="surchargetundaForm.nomor.$touched && surchargetundaForm.nomor.$invalid">
            Isi Nomor dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Harga Min.</label>
      <div class="col-sm-7">
          <input type="number" maxlength="14" only-num min="1" max="{{dataSurchargeTunda.hargaMax}}" class="form-control" name="hargaMin" ng-model="dataSurchargeTunda.hargaMin" required/>
          <span class="has-error" ng-show="surchargetundaForm.hargaMin.$touched && surchargetundaForm.hargaMin.$invalid">
            Isi Harga Min. dibutuhkan.
          </span>
      </div>
      <div class="col-sm-2" ng-hide="surchargetundaForm.hargaMin.$valid" >
        <small class="error" ng-show="surchargetundaForm.hargaMin.$error.max">
        <a class="fa fa-ban fa-lg" aria-hidden="true"></a> <span>Harga Min. harus lebih besar dari Harga Max</span></small>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Harga Max.</label>
      <div class="col-sm-7">
          <input type="number" maxlength="14" only-num min="1" class="form-control" name="hargaMax" ng-model="dataSurchargeTunda.hargaMax" required/>
          <span class="has-error" ng-show="surchargetundaForm.hargaMax.$touched && surchargetundaForm.hargaMax.$invalid">
            Isi Harga Max dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>GT Min.</label>
      <div class="col-sm-7">
          <input type="number" maxlength="12" only-num min="1" max="{{dataSurchargeTunda.gtMax}}" class="form-control" name="gtMin" ng-model="dataSurchargeTunda.gtMin" required/>
          <span class="has-error" ng-show="surchargetundaForm.gtMin.$touched && surchargetundaForm.gtMin.$invalid">
            Isi GT min. dibutuhkan.
          </span>
      </div>
      <div class="col-sm-2" ng-hide="surchargetundaForm.gtMin.$valid" >
        <small class="error" ng-show="surchargetundaForm.gtMin.$error.max">
        <a class="fa fa-ban fa-lg" aria-hidden="true"></a> <span>GT Max. harus lebih besar dari GT Min.</span></small>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>GT Max.</label>
      <div class="col-sm-7">
          <input type="number" maxlength="12" only-num min="1" class="form-control" name="gtMax" ng-model="dataSurchargeTunda.gtMax" required/>
          <span class="has-error" ng-show="surchargetundaForm.gtMax.$touched && surchargetundaForm.gtMax.$invalid">
            Isi GT max. dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Fuel Surcharge</label>
      <div class="col-sm-7">
          <input type="number" maxlength="14" only-num min="1" class="form-control" name="surcharge" ng-model="dataSurchargeTunda.surcharge" required/>
          <span class="has-error" ng-show="surchargetundaForm.surcharge.$touched && surchargetundaForm.surcharge.$invalid">
            Isi Fuel Surcharge dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Keterangan</label>
      <div class="col-sm-7">
          <input type="text" maxlength="30" class="form-control" name="keterangan"  ng-model="dataSurchargeTunda.keterangan" required>
          <span class="has-error" ng-show="surchargetundaForm.keterangan.$touched && surchargetundaForm.keterangan.$invalid">
            Isi Keterangan dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label"><span class="text-danger">*</span>Status</label>
      <div class="col-sm-7">
        <input bs-switch type="checkbox" switch-on-text="AKTIF" switch-off-text="TIDAK AKTIF" ng-model="dataSurchargeTunda.status" ng-true-value ="true" ng-false-value="false" checked />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
          <button type="button" class="btn btn-lg btn-default" ng-disabled="surchargetundaForm.$invalid;buttonDisabled" ng-click="cancel()">Batal</button>
          <button type="button" class="btn btn-lg btn-primary" ng-disabled="surchargetundaForm.$invalid;" ng-click="submit();showLoader=true;buttonDisabled=true"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Simpan</button>
      </div>
    </div>
</form>
