<h2>Surcharge Tunda Detail</h2>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="col-sm-2">Tgl. Berlaku</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.tglBerlaku}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Nomor</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.nomor}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Harga Min.</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.hargaMin | currency:"":0}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Harga Max.</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.hargaMax | currency:"":0}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">GT Min.</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.gtMin | currency:"":0}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">GT Max.</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.gtMax | currency:"":0}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Fuel Surcharge</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.surcharge | currency:"":0}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Keterangan</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.keterangan}}</span>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-2">Status</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class="view-detail">{{surchargetundaContent.status}}</span>
	    </div>
  	</div>
	<button class="btn btn-lg btn-primary" ng-click="cancel()">Tutup</button>
</form>
