
	<h2>Profil Agen</h2>
	<br>
	<div class="row">
		<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">Kode Agen</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Nama Agen</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Alamat</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Kota</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jenis Usaha</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Badan Usaha</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Contact Person</label>
		<div class="col-sm-5">
			<span>:</span>
		</div>
	</div>
</form>

		</div>
		<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">Telepon</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Email</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Fax</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">NPWP</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">SIUP</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">TGL SIUP</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">ID Pelanggan</label>
		<div class="col-sm-5">
			<span>:</span> 
		</div>
	</div>
</form>

		</div>
	</div>
