<h2>Profil Perusahaan</h2>
<br>
<div class="row">
	<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">Kode Perusahaan</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgKode}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Nama Perusahaan</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgNama}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Alamat</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgAlamat}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Kota</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgKota}}</span>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-3">Jenis Usaha</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgJenisUsaha}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Badan Usaha</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgBadanUsaha}}</span>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-3">Contact Person</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgContPerson}}</span>
		</div>
	</div>	
</form>

	</div>
	<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">Telepon</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mplgTelepon}}</span>  
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Email</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mkplKode}}</span>  
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-3">Fax</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mkplKode}}</span> 
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-3">NPWP</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mkplKode}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">SIUP</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mkplKode}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">TGL SIUP</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class="view-detail">{{pelangganlDetails.mkplKode}}</span> 
		</div>
	</div>	
</form>

	</div>
</div>
<button class="btn btn-default" ng-click="back()">Tutup</button>