<h2>Profil Kapal</h2>
<br>
<div class="row">
	<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">Kode Kapal</label>
		<div class="col-sm-5">
			<span>:</span> 
			<span class='view-detail'>{{contentKapalDetails.mkplKode}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Nama Kapal</label>
		<div class="col-sm-5">
			<span>:</span> 
			<span class='view-detail'>{{contentKapalDetails.mkplNama}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Bendera</label>
		<div class="col-sm-5">
			<span>:</span> 
			<span class='view-detail'>{{contentKapalDetails.mkplBendera}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jenis Kapal</label>
		<div class="col-sm-5">
			<span>:</span> 
			<span class='view-detail'>{{contentKapalDetails.mkplJenis}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jenis Pelayaran</label>
		<div class="col-sm-5">
			<span>:</span> 
			<span class='view-detail'>{{contentKapalDetails.mkplJnsPelayaran}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jenis Trayek</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplJenis}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">GRT</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplGrt}}</span> 
		</div>
	</div>
</form>

	</div>
	<div class="col-md-6">

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3">LOA</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplLoa}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">DWT</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplDwt}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Draft Muka</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplDraftMuka}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Draft Belakang</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplDraftBlk}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jumlah Palka</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplPalka}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Jenis Palka</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplJnsPalka}}</span> 
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Rampdoor</label>
		<div class="col-sm-5">
			<span>:</span>
			<span class='view-detail'>{{contentKapalDetails.mkplRampdoor}}</span> 
		</div>
	</div>
</form>

	</div>
</div>
<button class="btn btn-default" ng-click="back()">Tutup</button>