<h2>Parameter Edit</h2>
<form class="form-horizontal" name="parameterForm" novalidate>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="no-1"><span class="text-danger">*</span>Nama Parameter</label>
      <div class="col-sm-4">
          <input type="text" maxlength="20" class="form-control" ng-model="parameter.nama" name="nama" bs-typeahead bs-options="parameter.nama for parameter in listOfParam" data-limit="10" disabled>
          <span class="has-error" ng-show="parameterForm.nama.$touched && parameterForm.nama.$invalid">
            Isi Nama dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="no-1"><span class="text-danger">*</span>Judul</label>
      <div class="col-sm-4">
          <input type="text" id="parameter_caption" maxlength="30" class="form-control" name="caption" ng-model="parameter.caption" required>
          <span class="has-error" ng-show="parameterForm.caption.$touched && parameterForm.caption.$invalid">
            Isi Judul dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="parameter_value"><span class="text-danger">*</span>Nilai</label>
      <div class="col-sm-4">
          <input type="text" class="form-control" id="parameter_value" maxlength="30" name="value" ng-model="parameter.value" required>
          <span class="has-error" ng-show="parameterForm.value.$touched && parameterForm.value.$invalid">
            Isi Nilai dibutuhkan.
          </span>
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="no-1"><span class="text-danger">*</span>Value berupa angka</label>
      <div class="col-sm-4">
        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="parameter.isNumeric" ng-true-value ="1" ng-false-value="0">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7">
        <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="resetParam()">Reset</button>   
          <button type="button" class="btn btn-primary" ng-hide="parameter.id" ng-click="submitToGrid()" ng-disabled="parameterForm.$invalid;">Tambah</button>  
          <button type="button" class="btn btn-primary" ng-show="parameter.id" ng-click="submitToGrid()" ng-disabled="parameterForm.$invalid;">Update</button>
        </div>
        <br><br>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Judul</th>
                <th class="text-center">Nilai</th>
                <th class="text-center">Value berupa angka</th>
                <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="itemDataParam in itemDataParams" ng-show="itemDataParams">
              <!-- <td>{{$index}}</td> -->
              <td>{{itemDataParam.caption}}</td>
              <td class="text-center">{{itemDataParam.value}}</td>
              <td class="text-center">{{itemDataParam.isNumericText}}</td>
              <td class="col-sm-2 text-center">
                <a style="cursor:pointer" ng-if="itemDataParam.id" ng-click="editParam(itemDataParam.id)" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
                <a style="cursor:pointer" ng-if="itemDataParam" ng-click="deleteFromGrid($index,itemDataParam)" aria-hidden="true" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7">
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
          <button type="button" class="btn btn-primary btn-lg" ng-click="submit();showLoader=true;buttonDisabled=true" ng-disabled="!parameterForm.$invalid;"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Simpan</button>
        </div>
      </div>
    </div>
</form>
