<h2>Daftar Petugas Pandu</h2>
<form class="form-horizontal">
  <div class="row">
      <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>Cabang Pandu :</label>
        <div class="col-sm-4">
          <select pf-select ng-model="idCabang" name="idCabang" ng-options='option.kodeCabang as option.namaKawasan for option in cabang' ng-change="getKawasan(idCabang)"></select>
        </div>
      </div>
      </div>   
      <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>Stasiun Pandu:</label>
         <div class="col-sm-4">
          <select pf-select ng-model="idKawasan" name="idKawasan" ng-options='option.id as option.namaKawasan for option in kawasan' id="jns-1" required></select>
        </div>
      </div> 
      </div>
  </div>
</form>

  <!-- <div class="form-group dropdown-kawasan">
  <label class="col-sm-2 control-label"><span class="text-danger">*</span>Stasiun Pandu  :</label>
      <div class="col-sm-4">
          <select pf-select ng-model="idKawasan" name="idKawasan" ng-options='option.id as option.namaKawasan  for option in kawasan' id="jns-1" required></select>
      </div>
  </div> -->

  <table class="datatable table table-striped table-bordered">
  		<thead>
  		  <tr>
            <td colspan="7">
                <span>Show : </span>
                <select ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
                <input type="button" value="Petugas Pandu Baru" class="btn-list btn btn-default pull-right" ng-click="setKawasanPandu()" ng-disabled="idKawasan == undefined"/>
            </td>
        </tr>
      	<tr>
          <th>
            <div class="pull-left">Pilih</div>
          </th>
      		<th ng-click="sortBy='kode'; sortDesc = !sortDesc; pageChanged(0);">
            <div class="pull-left">Kode</div>
            <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kode' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kode' && sortDesc)}"></span></div>
          </th>
      	  <th ng-click="sortBy='namaPetugas'; sortDesc = !sortDesc; pageChanged(0);">
            <div class="pull-left">Nama</div>
            <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'namaPetugas' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'namaPetugas' && sortDesc)}"></span></div>
          </th>
          <th ng-click="sortBy='groupId'; sortDesc = !sortDesc; pageChanged(0);">
            <div class="pull-left">Grup</div>
            <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'groupId' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'groupId' && sortDesc)}"></span></div>
          </th>
      	  <th>
            <div class="pull-left">Username</div>
          </th>
          <!-- <th><div class="pull-left">HP</div></th> -->
      	  <th class="table-col-full text-center">Action</th>
      	</tr>
  		</thead>
  <tbody>
	<tr ng-repeat="item in petugasList" ng-show="showTable">
      <td><input type="checkbox" ng-model="item.checked" ng-change="getSelectedState()"></td>
      <td>{{item.kode}}</td>
  		<td>{{item.namaPetugas}}</td>
  		<td>{{item.groupName}}</td>
      <td>{{item.username}}</td>
      <!-- <td>{{item.hp}} </td> -->
  		<td class="text-center">
        <a ng-show="userRole.rflag" href="#/petugaspandu/view/{{item.id}}" type="button" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye"></span></a>
  			<a ng-show="userRole.uflag" href="#/petugaspandu/edit/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
  			<!-- <a ng-show="userRole.dflag" ng-click="deletePetugasPandu(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a> -->
  		</td>
  	</tr>

  </tbody>
  </table>


  <div class="form-group ganti-group">
      <label class="col-sm-2 control-label">Ganti Grup</label>
      <div class="col-sm-3">
          <select pf-select ng-model="groupId" name="kodegrup" ng-options='option.id as option.namaGroup  for option in group' id="jns-1" required></select>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-lg" ng-disabled="!isSelected || !isChecked" ng-click="gantiGrupPandu()">Ganti Grup</button>
      </div>
  </div>


  <div>
    <paging class="small" page="currentPage" page-size="pageSize"
      total="totalItems" adjacent="2" dots="..." scroll-top="true"
      hide-if-empty="false" ul-class="pagination" active-class="active"
      disabled-class="disabled" show-prev-next="true"
      style="cursor: pointer;" paging-action="pageChanged(page)">
    </paging>
  </div>
