<h2>Siklus Baru</h2>
<form name="siklusForm" class="form-horizontal">
  	<div class="form-group">
		<label class="col-sm-3 control-label" for="no-7"><span class="text-danger">*</span>Pelayaran</label>
    	<div class="col-sm-7">
          <select pf-select ng-model="siklus.jenisPelayaran" name="jenisPelayaran" ng-options='option.value as option.caption for option in jenisPelayaran' required></select>
          <span class="has-error" ng-show="siklusForm.jenisPelayaran.$touched && siklusForm.jenisPelayaran.$invalid">
            Isi pelayaran dibutuhkan.
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-3 control-label" for="tetap-7"><span class="text-danger">*</span>Jenis Kapal</label>
    	<div class="col-sm-7">
          <select pf-select ng-model="siklus.jenisKapal" name="jenisKapal" ng-options='option.value as option.caption for option in jenisKapal' required></select>
          <span class="has-error" ng-show="siklusForm.jenisKapal.$touched && siklusForm.jenisKapal.$invalid">
            Isi jenis kapal dibutuhkan.
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-3 control-label" for="variabel-7"><span class="text-danger">*</span>Kode Kegiatan</label>
    	<div class="col-sm-7">
          <select pf-select ng-model="siklus.kodeKegiatan" name="kodeKegiatan" ng-options='option.value as option.caption for option in kodeKegiatan' required></select>
          <span class="has-error" ng-show="siklusForm.kodeKegiatan.$touched && siklusForm.kodeKegiatan.$invalid">
            Isi kode kegiatan dibutuhkan.
          </span>
    	</div>
  	</div>
  	<div class="form-group">
    <label class="col-sm-3 control-label" for="aktif"><span class="text-danger">*</span>Kriteria Labuh</label>
      <div class="col-sm-7">
        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="siklus.kriteriaLabuh" ng-true-value ="true" ng-false-value="false" checked />
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="aktif"><span class="text-danger">*</span>Kriteria Tambat</label>
      <div class="col-sm-7">
       <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="siklus.kriteriaTambat" ng-true-value ="true" ng-false-value="false" checked />
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="aktif"><span class="text-danger">*</span>Kriteria Air Kapal</label>
      <div class="col-sm-7">
        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="siklus.kriteriaAirKapal" ng-true-value ="true" ng-false-value="false" checked />  
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="aktif"><span class="text-danger">*</span>Kriteria Pandu Masuk</label>
      <div class="col-sm-7">
        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="siklus.kriteriaPanduMasuk" ng-true-value ="true" ng-false-value="false" checked /> 
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="aktif"><span class="text-danger">*</span>Kriteria Pandu Keluar</label>
      <div class="col-sm-7">
        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="siklus.kriteriaPanduKeluar" ng-true-value ="true" ng-false-value="false" checked /> 
      </div>
    </div>
  	<div class="form-group">
	    <div class="col-sm-offset-3 col-sm-7">
	      	<button type="button" class="btn btn-default btn-lg" ng-disabled="siklusForm.$invalid;buttonDisabled" ng-click="cancel()">Batal</button>
          <button type="button" class="btn btn-primary btn-lg" ng-disabled="siklusForm.$invalid;" ng-click="submit();showLoader=true;buttonDisabled=true"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Buat Baru</button>
	    </div>
  	</div>
</form>
