<h2>Dermaga Pandu List</h2>

<table class="datatable table table-striped table-bordered">
    <thead>
        <tr>
            <td colspan="4">
                <input ng-show="userRole.cflag" type="button" onclick="location.href='#/dermagapandu/new';" value="Dermaga Pandu Baru" class="btn-list btn btn-default pull-right" />
            </td>
        </tr>
        <tr>
            <th>No</th>
            <th>Nama Dermaga</th>
            <th>
                <div class="pull-left">Nama Kawasan</div>
            </th>
            <th class="table-col-full text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{$index+1}}</td>
            <td>{{item.lokasi}}</td>
            <td>{{item.namaKawasan}}</td>
            <td class="text-center">
                <a ng-show="userRole.uflag" href="#/dermagapandu/edit/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
                <a ng-show="userRole.dflag" ng-click="deleteDermagaPandu(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <paging class="small" page="currentPage" page-size="pageSize" total="totalItems" adjacent="2" dots="..." scroll-top="true" hide-if-empty="false" ul-class="pagination" active-class="active" disabled-class="disabled" show-prev-next="true" style="cursor: pointer;"
        paging-action="pageChanged(page)">
    </paging>
</div>