<h2>Tarif Kapal Kepil Edit</h2>
<form class="form-horizontal" name="kepilForm">
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="no-8"><span class="text-danger">*</span>Nomor SK</label>{{nomorSk}}
    	<div class="col-sm-7">
      	<input type="text" id="no-8" class="form-control" ng-model="dataKepil.nomorSk" required>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="tgl-8"><span class="text-danger">*</span>Tgl. Berlaku</label>
    	<div class="col-sm-7">
           <div pf-datepicker id="IdtglBerlaku" options="options" data-date-format="dd-mm-yyyy" date="dataKepil.tglBerlaku" name="tglBerlaku" ></div>
           <span class="has-error" ng-show="kepilForm.tglBerlaku.$touched && kepilForm.tglBerlaku.$invalid">
             Isi tgl berlaku dibutuhkan.
           </span>
      </div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-8"><span class="text-danger">*</span>Jenis Pelayaran</label>
    	<div class="col-sm-7">
          <select pf-select ng-options='option.value as option.caption for option in jnsPelayaran' name="jenisPelayaran" ng-model="dataKepil.jenisPelayaran" required></select>
          <span class="has-error" ng-show="kepilForm.jenisPelayaran.$dirty && kepilForm.jenisPelayaran.$invalid">
            Isi jenis pelayaran dibutuhkan.
          </span>
      </div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="variabel-8"><span class="text-danger">*</span>Tarif Satuan Pakai</label>
    	<div class="col-sm-7">
      		<input type="number" maxlength="15" decimal-number min="0" id="variabel-8" class="form-control"  ng-model="dataKepil.nilaiTarif" name="nilaiTarif" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" required>
          <span class="has-error" ng-show="kepilForm.nilaiTarif.$touched && kepilForm.nilaiTarif.$invalid">
              Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
          </span>
    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="valuta-8"><span class="text-danger">*</span>Valuta</label>
    	<div class="col-sm-7">
          <select pf-select ng-options='option.value as option.caption for option in valuta' ng-model="dataKepil.valuta" name="valuta" ></select>
          <span class="has-error" ng-show="kepilForm.valuta.$touched && kepilForm.valuta.$invalid">
            Isi valuta dibutuhkan.
          </span>
      </div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="file-8"><span class="text-danger">*</span>Dok. Pendukung</label>
    	<div class="col-sm-7">
    		<input type="file" id="file-1" class="form-control" ng-model="dokPendukung" file-input="uploadFile" accept=".pdf,.jpg">
        <p><a href="" ng-click="buildPDF()"><i class="fa fa-file-pdf-o" ng-show="dataKepil.dokumen"></i> {{dataKepil.dokumen}}</a></p>
        <span class="has-error" ng-show="kepilForm.dokPendukung.$touched && kepilForm.dokPendukung.$invalid">
           Isi dokumen pendukung dibutuhkan.
        </span>
    	</div>
      <a class="large info-tooltip" data-module-name="mgcrea.ngStrapDocs" ng-plunkr data-html="true" data-title="{{tooltipInfo}}" data-placement="right" bs-tooltip><i class="fa fa-question-circle fa-lg color-icon-question"></i></a>
  	</div>
  	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-7">
	      	<button class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
          <button type="button" class="btn btn-primary btn-lg" ng-disabled="kepilForm.$invalid;" ng-click="submit();showLoader=true;buttonDisabled"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Simpan</button>
           <button type="button" class="btn btn-primary btn-lg" ng-disabled="kepilForm.$invalid;" ng-click="submitApproval();showLoader=true;buttonDisabled"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Approval</button>
	    </div>
  	</div>
</form>
</div>

<script>
  // Initialize Boostrap-datepicker
  $('#tgl-8').datepicker({
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true
  });
</script>
