<h2>List Kademeter Dermaga</h2>
	<div class="col-md-6" style="margin-bottom:10px;">
		<form name="formSearch" ng-submit="pageChanged(0)">
			<div class="input-group">
				<select pf-select ng-init="selectionSearch  = filterConfig[0]" ng-model="selectionSearch" ng-options='fields.title for fields in filterConfig'></select>
				<input type="text" id="" class="form-control" ng-model="kodeDermaga" bs-typeahead bs-options="kodeDermaga.mdmgNamaKode for kodeDermaga in getListOfDermagaLabuh($viewValue)" data-limit="10" ng-focus="checkValue(dermaga)" ng-blur="validationSelectDermaga()">
				<span class="input-group-addon btn btn-default" ng-click="resetSearch()" title="Reset Search"><span class="fa fa-close"></span></span>
				<span class="input-group-addon btn btn-default" ng-click="pageChanged(0)" title="Search"><span class="fa fa-search"></span></span>
			</div>
		</form>
	</div>
	
	<table class="datatable table table-striped table-bordered">
  		<thead>
  		<tr>
            <td colspan="10">
            	Show :
            	<select class="" ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
                <input type="button" ng-show="userRole.cflag" data-toggle="modal" data-target="#addKademeter" value="Tambah Kademeter Dermaga" class="btn-list btn btn-default pull-right" />
            </td>
        </tr>
      <tr>
        <td colspan="10" class="text-center">{{pagingText}}</td>
      </tr>
	<tr>
		<th style="width:20px;">No</th>
		<th>Nama Dermaga</th>
		<th>Cluster Utama</th>
		<th>Cluster Muatan</th>
		<th>Kade Awal</th>
		<th>Kade Akhir</th>
		<th>Warna</th>
	  	<th class="table-col-full text-center">Action</th>
	</tr>
  		</thead>
  <tbody>
	<tr ng-repeat="item in items">
		<td>{{noIndex+$index +1}}</td>
		<td>{{item.namaDermaga}}</td>
		<td>{{item.pembagiUtama}}</td>
		<td>{{item.pembagiAnakan}}</td>
		<td>{{item.kadeAwal}}</td>
		<td>{{item.kadeAkhir}}</td>
		<td>{{item.warna}}</td>
  		<td class="text-center">
  			<a ng-show="userRole.uflag" data-toggle="modal" data-target="#EditkademeterDermaga" ng-click="editKademeter(item.id)" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
  			<a ng-show="userRole.dflag" ng-click="deleteKademeter(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
  		</td>
  	</tr>

  </tbody>
  </table>
<div><paging class="small" page="currentPage" page-size="pageSize"
      total="totalItems" adjacent="2" dots="..." scroll-top="true"
      hide-if-empty="false" ul-class="pagination" active-class="active"
      disabled-class="disabled" show-prev-next="true"
      style="cursor: pointer;" paging-action="pageChanged(page)">
  </paging></div>

<!-- modal add -->
   <div class="modal" id="addKademeter" tabindex="-1" role="dialog" aria-labelledby="epbLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	          <span class="pficon pficon-close"></span>
	        </button>
	        <h4 class="modal-title">Tambah Kademeter Dermaga</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" name="AddKademeter">
	        	<div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Cluster Muatan</label>
		             <div class="col-md-6">
		                  <input type="text" id="no-2" name="namaCluster" class="form-control" ng-model="clusterMuatan" typeahead="clusterMuatan as clusterMuatan.nama for clusterMuatan in getListOfClusterMuatan($viewValue)" data-limit="10"			                 ng-focus="checkValue(clusterMuatan	)" typeahead-select-on-blur="true" ng-blur="validationAddClusterMuatan()" required>
		             </div>
		             <span class="has-error" ng-show="AddKademeter.clusterMuatan.$touched && AddKademeter.clusterMuatan.$invalid">
				      Isi Cluster Muatan dibutuhkan.
				    </span>
		        </div>
	          	<div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Kade Awal</label>
	              	<div class="col-md-6">
		                <input type="number" id="no-3" class="form-control" name="kadeAwal" ng-model="dataPost.kadeAwal" required>
		            </div>	
			      	<span class="has-error" ng-show="AddKademeter.kadeAwal.$touched && AddKademeter.kadeAwal.$invalid">
				      Isi Kade Awal dibutuhkan.
				    </span>
		        </div>
		        <div class="form-group">
			        <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Kade Akhir</label>
	              	<div class="col-md-6">
		                <input type="number" id="no-3" class="form-control" name="kadeAkhir" ng-model="dataPost.kadeAkhir" required>
		            </div>	
			      	<span class="has-error" ng-show="AddKademeter.kadeAkhir.$touched && AddKademeter.kadeAkhir.$invalid">
				      Isi Kade Akhir dibutuhkan.
				    </span>
		        </div>
		        <div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Warna</label>
	              	<div class="col-md-6">
		                <select pf-select ng-model="dataPost.warna" name="warna" ng-options='option.value as option.name for option in optionWarna' id="" required></select>
		            </div>	
			      	<span class="has-error" ng-show="AddKademeter.warna.$touched && AddKademeter.warna.$invalid">
				      Isi Warna dibutuhkan.
				    </span>
		        </div>
		        <div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Dermaga</label>
		             <div class="col-md-6">
		                  <input type="text" id="" class="form-control" ng-model="dermaga" typeahead="dermaga as dermaga.mdmgNamaKode for dermaga in getListOfDermagaLabuh($viewValue)" data-limit="10" ng-focus="checkValue(dermaga)" typeahead-select-on-blur="true" ng-blur="validationAddKademeter()" required>
		             </div>
		             <span class="has-error" ng-show="AddKademeter.dermaga.$touched && AddKademeter.dermaga.$invalid">
				      Isi Dermaga dibutuhkan.
				    </span>
		        </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="AddKademeter.$invalid;"  ng-click="addKademeterDermaga()"">Simpan</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- modal edit -->
	<div class="modal" id="EditkademeterDermaga" tabindex="-1" role="dialog" aria-labelledby="epbLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	          <span class="pficon pficon-close"></span>
	        </button>
	        <h4 class="modal-title">Edit Kademeter Dermaga</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" name="EditKademeter">
	        	<div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Cluster Muatan</label>
		             <div class="col-md-6">
		                  <input type="text" id="no-2" name="namaCluster" class="form-control" ng-model="dataEdit.pembagiAnakan" typeahead="clusterMuatan as clusterMuatan.nama for clusterMuatan in getListOfClusterMuatan($viewValue)" data-limit="10"
			                 ng-focus="checkValue(dataEdit.pembagiAnakan)" typeahead-select-on-blur="true" ng-blur="validationEditClusterMuatan()" required>
		             </div>
		             <span class="has-error" ng-show="AddKademeter.clusterMuatan.$touched && AddKademeter.clusterMuatan.$invalid">
				      Isi Cluster Muatan dibutuhkan.
				    </span>
		        </div>
	          <div class="form-group">
	           <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Kade Awal</label>
	              	<div class="col-md-6">
		                <input type="text" id="no-3" class="form-control" name="kadeAwal" ng-model="dataEdit.kadeAwal" required>
		            </div>	
			      	<span class="has-error" ng-show="EditKademeter.kadeAwal.$touched && EditKademeter.kadeAwal.$invalid">
				      Isi Kade Awal dibutuhkan.
				    </span>
	          </div>
	          <div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Kade Akhir</label>
	              	<div class="col-md-6">
		                <input type="text" id="no-3" class="form-control" name="kadeAkhir" ng-model="dataEdit.kadeAkhir" required>
		            </div>	
			      	<span class="has-error" ng-show="EditKademeter.kadeAkhir.$touched && EditKademeter.kadeAkhir.$invalid">
				      Isi Kade Akhir dibutuhkan.
				    </span>
	          </div>
	          <div class="form-group">
		            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Warna</label>
	              	<div class="col-md-6">
		                <select pf-select ng-model="dataEdit.warna" name="warna" ng-options='option.value as option.name for option in optionWarna' id="" required></select>
		            </div>	
			      	<span class="has-error" ng-show="EditKademeter.warna.$touched && EditKademeter.warna.$invalid">
				      Isi warna dibutuhkan.
				    </span>
	          </div>
	          <div class="form-group">
	            <label class="col-md-3 control-label" for="no-3"><span class="text-danger">*</span>Dermaga</label>
	             <div class="col-md-6">
	                  <input type="text" id="" class="form-control" name="dermaga" ng-model="dataEdit.namaDermaga" typeahead="dermaga as dermaga.mdmgNamaKode for dermaga in getListOfDermagaLabuh($viewValue)" data-limit="10" ng-focus="checkValue(dataEdit.namaDermaga)" typeahead-select-on-blur="true" ng-blur="validationEditKademeter()" required>
	             </div>
	             <span class="has-error" ng-show="EditKademeter.dermaga.$touched && EditKademeter.dermaga.$invalid">
			      Isi Dermaga dibutuhkan.
			    </span>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="saveEditKademeter(dataEdit.id)"">Simpan</button>
	      </div>
	    </div>
	  </div>
	</div>
