<div class="container-overflow-hide">
    <h2 class="col-xs-5">Alat Apung Baru</h2>

    <div style="display:inline-flex; width:200%">
        <div class="col-xs-5 col-md-4">
            <form class="form-horizontal" name="alatApungForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="text-danger">*</span>On Hire</label>
                    <div class="col-sm-4">
                        <input bs-switch type="checkbox" switch-on-text="Ya" switch-off-text="Tidak" ng-model="alatApung.onHire" ng-true-value="1" ng-false-value="0">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>No Reg</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="30" name="noRegistrasi" class="form-control" ng-model="alatApung.noRegistrasi" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" required>
                        <span class="has-error" ng-show="alatApungForm.noRegistrasi.$touched && alatApungForm.noRegistrasi.$invalid">
                            Isi no Registrasi dibutuhkan.
                        </span>
                    </div>
                    <a ng-if="!alatApung.noRegistrasi == ''" class="fa fa-check fa-lg" aria-hidden="true"></a>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>Nama Alat</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="30" name="namaKapal" class="form-control" ng-model="alatApung.nama" ng-focus="change(alatApung.nama)" capitalize required>
                        <span class="has-error" ng-show="alatApungForm.namaKapal.$touched && alatApungForm.namaKapal.$invalid">
                          Isi nama dibutuhkan.
                        </span>
                    </div>
                    <a ng-if="!alatApung.nama == ''" class="fa fa-check fa-lg" aria-hidden="true"></a>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>Jenis</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.jenis" name="jenis" ng-options='option.value as option.caption for option in jenisKapal' id="jns-1" required></select>
                        <span class="has-error" ng-show="alatApungForm.jenis.$touched && alatApungForm.jenis.$invalid">
                          Isi jenis dibutuhkan.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>Kelas</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.kelas" name="kelas" ng-options='option.value as option.caption for option in kelas' id="jns-1" required></select>
                        <span class="has-error" ng-show="alatApungForm.kelas.$touched && alatApungForm.kelas.$invalid">
                        Isi kelas dibutuhkan.
                      </span>
                    </div>
                </div>

                <div class="form-group" ng-hide="bindapung.option==='1'">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>No SK</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="30" class="form-control" ng-model="alatApung.nomorSk" name="nomorSk" required>
                        <span class="has-error" ng-show="alatApungForm.nomorSk.$touched && alatApungForm.nomorSk.$invalid">
                            Isi No SK dibutuhkan.
                        </span>
                    </div>
                    <a ng-if="!alatApung.nomorSk == ''" class="fa fa-check fa-lg" aria-hidden="true"></a>
                </div>

                <div class="form-group" ng-hide="bindapung.option==='1'">
                    <label class="col-sm-3 control-label" for="tglberlaku"><span class="text-danger">*</span>Tgl. Mulai Berlaku</label>
                    <div class="col-sm-4">
                        <div pf-datepicker id="tglMulaiBerlaku" options="options" data-date-format="dd-mm-yyyy" date="tglMulaiBerlaku" name="tglMulaiBerlaku" required></div>
                    </div>
                </div>

                <div class="form-group" ng-hide="bindapung.option==='1'">
                    <label class="col-sm-3 control-label" for="tglberlaku"><span class="text-danger">*</span>Tgl. Selesai Berlaku</label>
                    <div class="col-sm-4">
                        <div pf-datepicker id="tglSelesaiBerlaku" options="options" data-date-format="dd-mm-yyyy" date="tglSelesaiBerlaku" name="tglSelesaiBerlaku" required></div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label" for="pemilik"><span class="text-danger">*</span>Nama Pemilik</label>
                    <div class="col-sm-4" style="display: inline-flex;">

                        <input type="text" name="pemilik" class="form-control" ng-model="alatApung.pemilik" bs-typeahead bs-options="mdmPelanggan.mplgNamaKode for mdmPelanggan in getListOfPelanggan($viewValue)" data-limit="10" ng-focus="checkValue(alatApung.pemilik)" ng-blur="validationLookupPemilik()"
                            required>

                        <a ng-if="!alatApung.pemilik == ''" href="#/profilperusahaan/{{alatApung.pemilik.mplgKode}}" class="fa fa-info-circle fa-lg information-tip" aria-hidden="true"></a>
                    </div>
                    <span class="has-error" ng-show="alatApungForm.pemilik.$touched && alatApungForm.pemilik.$invalid">
                        Isi nama pemilik dibutuhkan.
                    </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>Status Alat</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.status" name="status" ng-options='option.value as option.caption for option in statusAlat' id="jns-1" required></select>
                        <span class="has-error" ng-show="alatApungForm.status.$touched && alatApungForm.status.$invalid">
                            Isi status dibutuhkan.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2"><span class="text-danger">*</span>Kondisi</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.kondisi" name="jenis" ng-options='option.value as option.caption for option in kondisi' id="jns-1" required></select>
                    </div>
                    <span class="has-error" ng-show="alatApungForm.kondisiText.$touched && alatApungForm.kondisiText.$invalid">
                    Isi kondisi dibutuhkan.
                    </span>
                </div>
            </form>
        </div>

        <div class="col-xs-6 col-md-4" style="margin-left:-200px;">
            <form class="form-horizontal" name="alatApungForm2">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Call Sign</label>
                    <div class="col-sm-4">
                        <input maxlength="12" class="form-control" ng-model="alatApung.callSign" name="callSign" step="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Mmsi</label>
                    <div class="col-sm-4">
                        <input maxlength="12" class="form-control" ng-model="alatApung.mmsi" name="mmsi" step="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Min. Beban</label>
                    <div class="col-sm-4">
                        <input type="number" only-num min="1" max="{{alatApung.maxBeban}}" maxlength="12" class="form-control" name="minBeban" ng-model="alatApung.minBeban">
                    </div>
                    <div class="col-sm-2" ng-hide="alatApungForm2.minBeban.$valid">
                        <small class="error" ng-model="muncul" ng-show="alatApungForm2.minBeban.$error.max">
                        <a class="fa fa-ban fa-lg" aria-hidden="true"></a> <span>Nilai Max harus lebih besar dari Nilai Min</span></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Max. Beban</label>
                    <div class="col-sm-4">
                        <input type="number" only-num min="1" maxlength="12" class="form-control" ng-model="alatApung.maxBeban" name="maxBeban" step="1">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Satuan Beban</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.satuanBeban" ng-options='option.value as option.caption for option in satuanBebanOption'>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Satuan</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.satuan" ng-options='option.value as option.caption for option in satuanAlatApungOption'>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Satuan Waktu Pakai</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.satuanWaktuPakai" ng-options='option.value as option.caption for option in satuanWaktuPakaiOption'>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Total Daya</label>
                    <div class="col-sm-4">
                        <input type="number" only-num min="1" maxlength="12" class="form-control" ng-model="alatApung.totalDaya">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="no-2">Satuan Daya</label>
                    <div class="col-sm-4">
                        <select pf-select ng-model="alatApung.satuanDaya" ng-options='option.value as option.caption for option in satuanDayaOption'></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-7">
            <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
            <button type="button" class="btn btn-primary btn-lg" ng-disabled="alatApungForm.$invalid || alatApungForm2.$invalid;" ng-click="submit();showLoader=true;buttonDisabled"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Buat Baru</button>
        </div>
    </div>

    <br>
</div>

<script>
    $('#date-2').datepicker({
        autoclose: true,
        orientation: "top auto",
        todayBtn: "linked",
        todayHighlight: true
    });
    $('#date-3').datepicker({
        autoclose: true,
        orientation: "top auto",
        todayBtn: "linked",
        todayHighlight: true
    });
</script>

<script>
    // Initialize Boostrap-datepicker
    $('#tgl-2').datepicker({
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true
    });
    $("[name='status-checkbox']").bootstrapSwitch();
</script>