
<h2>Master Pejabat Pengesahan Detail</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2">NIP</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.nip}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Nama</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.nama}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Jabatan</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.jabatan}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Nama Tercetak</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.nama}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Jabatan Tercetak</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.jabatanTercetak}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Jenis Dokumen</label>
    <div class="col-sm-2">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.jenisDokumen}}</span>
    </div>
    <div class="col-sm-5">
        <span class='view-detail'>{{contentPejabatPengesahanDetails.jenisDokumenText}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Level</label>
    <div class="col-sm-2">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.levelPejabat}}</span>
    </div>
    <div class="col-sm-5">
        <span class='view-detail'>{{contentPejabatPengesahanDetails.levelPejabatText}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Pengesahan Sebagai</label>
    <div class="col-sm-2">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.sebagai}}</span>
    </div>
    <div class="col-sm-5">
        <span class='view-detail'>{{contentPejabatPengesahanDetails.sebagaiText}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2">Surat Penunjukan</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.noSuratPenunjukan}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2">Otorisasi</label>
    <div class="col-sm-7">
        <span>:</span>
        <span class='view-detail'>{{contentPejabatPengesahanDetails.otorisasi}}</span>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="text-left">
        <button class="btn btn-primary btn-lg" ng-click="close()">Tutup</button>
    </div>
  </div>

</form>
