<h2>User Meeting Online Edit</h2>

<form name="userMeetingForm" class="form-horizontal">
  <div class="form-group">
		<label class="col-sm-2 control-label" for="role"><span class="text-danger">*</span>Role</label>
      <div class="col-sm-7">
          <select name="role" pf-select ng-options='option.value as option.caption for option in userRole' ng-model="dataMeetingUser.userRole" required></select>
      </div>
      <span class="has-error" ng-show="userMeetingForm.userRole.$touched && userMeetingForm.userRole.$invalid">
      Isi Role dibutuhkan.
      </span>
  </div>
  <div class="form-group" ng-show="dataMeetingUser.userRole=='AGEN'">
    <label class="col-sm-2 control-label" for="namaAgen"><span class="text-danger">*</span>Agen</label>
      <div class="col-sm-7" style="display: inline-flex;">
          <input type="text" id="no-2" name="namaPelanggan" class="form-control" ng-model="dataMeetingUser.namaPelanggan" bs-typeahead bs-options="mdmPelanggan.mplgNama for mdmPelanggan in getListOfPelanggan($viewValue)" data-limit="10" ng-required="dataMeetingUser.userRole=='AGEN'">
      </div>
      <span class="has-error" ng-show="userMeetingForm.namaAgen.$touched && userMeetingForm.namaAgen.$invalid">
      Isi agen dibutuhkan.
      </span>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><span class="text-danger">*</span>Username</label>
      <div class="col-sm-7" style="display: inline-flex;">
          <input type="email" id="no-2" name="username" class="form-control" ng-model="dataMeetingUser.username" required>
      </div>
      <span class="has-error" ng-show="userMeetingForm.username.$touched && userMeetingForm.username.$invalid">
      Isi username dibutuhkan dan harus dengan format email.
      </span>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="nama-12">Ganti Password</label>
    <div class="col-sm-7">
      <input type="checkbox" class="cursor-pointer" ng-model="flagGantiPassword">
    </div>
  </div>
  <div class="form-group" ng-show="flagGantiPassword">
    <label class="col-sm-2 control-label" for="namaKapal"><span class="text-danger">*</span>Password</label>
      <div class="col-sm-7" style="display: inline-flex;">
        <div class="input-group">
          <input type="{{inputTypePassword}}" name="password" class="form-control" placeholder="Password" ng-model="dataMeetingUser.password" ng-required="flagGantiPassword">
          <span class="input-group-addon btn btn-default" ng-click="hideShowPassword()" title="{{inputTypePassword==='password'?'Tampilkan Password':'Sembunyikan Password'}}"><span class="fa {{inputTypePassword==='password'?'fa-eye-slash':'fa-eye'}}"></span></span>
        </div>
      </div>
      <span class="has-error" ng-show="userMeetingForm.password.$touched && userMeetingForm.password.$invalid">
      Isi password dibutuhkan.
      </span>
  </div>
  <div class="form-group" ng-show="flagGantiPassword">
    <label class="col-sm-2 control-label" for="namaKapal"><span class="text-danger">*</span>Konfirmasi Password </label>
      <div class="col-sm-7" style="display: inline-flex;">
        <input type="{{inputTypePassword}}" name="passwordConfirmation" class="form-control" data-limit="10"
        ng-model="dataMeetingUser.passwordConfirmation" placeholder="Konfirmasi Password" ng-required="flagGantiPassword">
      </div>
      <span class="has-error" ng-show="userMeetingForm.passwordConfirmation.$touched && userMeetingForm.passwordConfirmation.$invalid">
      Isi konfirmasi passwors dibutuhkan.
      </span>
  </div>
	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
      <button type="button" class="btn btn-primary btn-lg" ng-disabled="userMeetingForm.$invalid;" ng-click="submit();buttonDisabled"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Simpan</button>
    </div>
	</div>
</form>
