<h2>Roles</h2>
<div pf-filter config="filterConfig"></div>
<table class="datatable table table-striped table-bordered">
	<thead>
		<tr>
            <td colspan="6">
            	Show :
            	<select ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
                <input type="button" ng-show="userRole.cflag" onclick="location.href='#/roles/new';" value="Role Baru" class="btn-list btn btn-default pull-right" />
            </td>
        </tr>
        <tr>
            <td colspan="6" class="text-center">{{pagingText}}</td>
        </tr6>
		<tr>
			<th class="col-xs-1">No</th>
			<th ng-click="sortBy='kodeRole'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Kode Role</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kodeRole' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kodeRole' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='namaRole'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Nama Role</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'namaRole' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'namaRole' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='kodeCabang'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Kode Cabang</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kodeCabang' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kodeCabang' && sortDesc)}"></span></div>
			</th>
			<th> Keterangan</th>
			<th class="text-center">Action</th>
		</tr>
	</thead>
  	<tbody>
		<tr ng-repeat="item in items">
			<td>{{noIndex+$index +1}}</td>
			<td>{{item.kodeRole}}</td>
			<td>{{item.namaRole}}</td>
			<td>{{item.kodeCabang}}</td>
			<td>{{item.keterangan}}</td>
			<td class="col-xs-2 text-center">
				<a ng-show="userRole.rflag" href="#/roles/detail/{{item.id}}" type="button" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye" ></span></a>
        <a ng-show="userRole.uflag" href="#/roles/edit/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
        <a ng-show="userRole.dflag" ng-click="deleteRoles(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
			</td>
		</tr>
  	</tbody>
</table>
<div>
	<paging class="small" page="currentPage" page-size="pageSize"
		total="totalItems" adjacent="2" dots="..." scroll-top="true"
		hide-if-empty="false" ul-class="pagination" active-class="active"
		disabled-class="disabled" show-prev-next="true"
		style="cursor: pointer;" paging-action="pageChanged(page)">
	</paging>
</div>
