<h2>Daftar Meeting Online</h2>
<div pf-filter config="filterConfig"></div>
<table class="datatable table table-striped table-bordered">
	<thead>
		<tr>
      <td colspan="10">
      	Show :
      	<select class="" ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
        <input type="button" ng-show="userRole.cflag" onclick="location.href='#/meetingonline/room';" value="Meeting Online Baru" class="btn-list btn btn-default pull-right" />
      </td>
    </tr>
    <tr>
      <td colspan="10" class="text-center">{{pagingText}}</td>
    </tr>
  	<tr>
      <th>No</th>
		  <th>Ruang</th>
	  	<th ng-click="sortBy='kodeDermaga'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Dermaga</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kodeDermaga' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kodeDermaga' && sortDesc)}"></span></div>
      </th>
	  	<th ng-click="sortBy='clusteringId'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Muatan</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'clusteringId' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'clusteringId' && sortDesc)}"></span></div>
      </th>
	  	<th ng-click="sortBy='tglMeeting'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Tgl. Meeting</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglMeeting' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglMeeting' && sortDesc)}"></span></div>
      </th>
  			<th ng-click="sortBy='tglPenetapan'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Tgl. Penetapan</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglPenetapan' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglPenetapan' && sortDesc)}"></span></div>
      </th>
  		<th ng-click="sortBy='deskripsi'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Deskripsi</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'deskripsi' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'deskripsi' && sortDesc)}"></span></div>
      </th>
  		<th ng-click="sortBy='status'; sortDesc = !sortDesc; pageChanged(0);">
        <div class="pull-left">Status</div>
        <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'status' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'status' && sortDesc)}"></span></div>
      </th>
  		<th class="table-col-full text-center">Action</th>
  	</tr>
	</thead>
  <tbody>
  	<tr ng-repeat="item in items">
  		<td>{{noIndex+$index +1}}</td>
      <td>{{item.id}}</td>
    	<td>{{item.namaDermaga}}</td>
  		<td>{{item.clusteringNameChild}}</td>
    	<td>{{item.tglMeeting | date: "dd-MM-yyyy"}} </td>
  		<td>{{item.tglPenetapan | date: "dd-MM-yyyy"}} </td>
    	<td>{{item.deskripsi}}</td>
    	<td>{{item.status}}</td>
    	<td class="text-center">
  			<!-- <a href="#/meetingonline/view/{{item.id}}" type="button" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye"></span></a> -->
  			<a href="#/meetingonline/room/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
  			<a ng-click="deleteMeeting(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
  		</td>
  	</tr>
  </tbody>
  </table>
<div>
  <paging class="small" page="currentPage" page-size="pageSize"
    total="totalItems" adjacent="2" dots="..." scroll-top="true"
    hide-if-empty="false" ul-class="pagination" active-class="active"
    disabled-class="disabled" show-prev-next="true"
    style="cursor: pointer;" paging-action="pageChanged(page)">
  </paging>
</div>
