<h2>Aturan Kapal Tunda</h2>
<div pf-filter config="filterConfig"></div>
<table class="datatable table table-striped table-bordered">
    <thead>
        <tr>
            <td colspan="10">
                <span>Show : </span>
                <select ng-show="userRole.cflag" ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
                <input type="button" onclick="location.href='#/manajementunda/aturankapaltunda/new';" value="Aturan Kapal Tunda Baru" class="btn-list btn btn-default pull-right" />
            </td>
        </tr>
        <tr>
            <td colspan="10" class="text-center">{{pagingText}}</td>
        </tr>
        <tr>
            <th>No</th>
            <th ng-click="sortBy='panjangKapalMin'; sortDesc = !sortDesc; pageChanged(0);">
                <div class="pull-left">Panjang Kapal Min</div>
                <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'panjangKapalMin' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'panjangKapalMin' && sortDesc)}"></span></div>
            </th>
            <th ng-click="sortBy='panjangKapalMax'; sortDesc = !sortDesc; pageChanged(0);">
                <div class="pull-left">Panjang Kapal Max</div>
                <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'panjangKapalMax' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'panjangKapalMax' && sortDesc)}"></span></div>
            </th>
            <th ng-click="sortBy='jumlahKapalTunda'; sortDesc = !sortDesc; pageChanged(0);" class="col-sm-3">
                <div class="pull-left">Jumlah Kapal Tunda</div>
                <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'jumlahKapalTunda' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'jumlahKapalTunda' && sortDesc)}"></span></div>
            </th>

            <th ng-click="sortBy='totalHorsePower'; sortDesc = !sortDesc; pageChanged(0);" class="col-sm-3">
                <div class="pull-left">Total Horse Power</div>
                <div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'totalHorsePower' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'totalHorsePower' && sortDesc)}"></span></div>
            </th>
            <th class="table-col-full text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{noIndex+$index +1}}</td>
            <td>{{item.panjangKapalMin}}</td>
            <td>{{item.panjangKapalMax}}</td>
            <td>{{item.jumlahKapalTunda}}</td>
            <td>{{item.totalHorsePower}}</td>
            <td class="text-center">
                <a ng-show="userRole.rflag" href="#/manajementunda/aturankapaltunda/view/{{item.id}}" type="button" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye" ></span></a-->
        <a ng-show="userRole.uflag" href="#/manajementunda/aturankapaltunda/edit/{{item.id}}" type="button" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a-->
        <a ng-show="userRole.dflag" ng-click="deleteAturankapaltunda(item.id)" type="button" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <paging class="small" page="currentPage" page-size="pageSize" total="totalItems" adjacent="2" dots="..." scroll-top="true" hide-if-empty="false" ul-class="pagination" active-class="active" disabled-class="disabled" show-prev-next="true" style="cursor: pointer;"
        paging-action="pageChanged(page)">
    </paging>
</div>