<h2>Aturan Kapal Tunda</h2>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="col-sm-2">Panjang Kapal Min</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentAturankapaltunda.panjangKapalMin}} {{contentAturangerakpandu.kodeLokasi}}</span>
	    </div>
  	</div>
  	
    <div class="form-group">
      <label class="col-sm-2">Panjang Kapal Max</label>
      <div class="col-sm-9">
          <span>:</span>
          <span class='view-detail'>{{contentAturankapaltunda.panjangKapalMax}} {{contentAturangerakpandu.kodeLokasi}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2">Jumlah Kapal Tunda</label>
      <div class="col-sm-9">
          <span>:</span>
          <span class='view-detail'>{{contentAturankapaltunda.jumlahKapalTunda}} {{contentAturangerakpandu.kodeLokasi}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2">Total Horse Power</label>
      <div class="col-sm-9">
          <span>:</span>
          <span class='view-detail'>{{contentAturankapaltunda.totalHorsePower}} {{contentAturangerakpandu.kodeLokasi}}</span>
      </div>
    </div>

  	<div class="form-group">
   	  <div class="col-sm-9">
        <button class="btn btn-primary btn-lg" ng-click="close()">Tutup</button>
      </div>
    </div>
</form>
