<h2>Tipe Eskalasi</h2>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="col-sm-2">Kode Tipe Eskalasi</label>
	    <div class="col-sm-9">
	      	<span>:</span>
	      	<span class='view-detail'>{{contentTipeEskalasi.escTypeCode}} 
          </span>
	    </div>
  	</div>
  	
    <div class="form-group">
      <label class="col-sm-2">Kode Validasi</label>
      <div class="col-sm-9">
          <span>:</span>
          <span class='view-detail'>{{contentTipeEskalasi.valCode}} 
          </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2">Keterangan Validasi</label>
      <div class="col-sm-9">
          <span>:</span>
          <span class='view-detail'>{{contentTipeEskalasi.valDesc}} 
          </span>
      </div>
    </div>

  	<div class="form-group">
 	<div class="col-sm-9">
    <button class="btn btn-primary btn-lg" ng-click="close()">Tutup</button>
     </div>
    </div>
</form>