<h2>Tarif Tunda Edit</h2>
<form class="form-horizontal" name="tundaEdit">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="no-10"><span class="text-danger">*</span>Nomor SK</label>
    	<div class="col-sm-7">
      		<input type="text" name="nomorSk" class="form-control" ng-model="dataTunda.nomorSk" required>

    	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="tgl-10"><span class="text-danger">*</span>Tgl. Berlaku</label>
		 <div class="col-sm-7">
		   	<div pf-datepicker id="IdtglBerlaku" options="options" data-date-format="dd-mm-yyyy" date="dataTunda.tglBerlaku" ng-model="dataTunda.tglBerlaku" required></div>
	  	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-10"><span class="text-danger">*</span>Jenis Pelayaran</label>
		<div class="col-sm-7">
		  	<select pf-select ng-options='option.value as option.caption for option in jnsPelayaran' ng-model="dataTunda.jenisPelayaran" required></select>
	  	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-9"><span class="text-danger">*</span>Jenis Perairan</label>
		<div class="col-sm-7">
		  	<select pf-select ng-options='option.value as option.caption for option in jnsPerairan' ng-model="dataTunda.jenisPerairan" required></select>
	  	</div>
  	</div>
  	<div class="form-group">
		<label class="col-sm-2 control-label" for="jns-9"><span class="text-danger">*</span>Jenis Kegiatan</label>
		<div class="col-sm-7">
		  	<select pf-select ng-options='option.value as option.caption for option in jnsKegiatan' ng-model="dataTunda.jenisKegiatan" required></select>
	  	</div>
  	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="min-10"><span class="text-danger">*</span>GT Min.</label>
		<div class="col-sm-7">
			<input type="number" only-num min="1" max="{{dataTunda.maxGt}}" name="minGt" class="form-control"  ng-model="dataTunda.minGt" required>
		  	<span class="has-error" ng-show="tundaEdit.minGt.$touched && tundaEdit.minGt.$invalid">
				Isi Min. GT dibutuhkan.
		  	</span>
		</div>
	  	<div class="col-sm-2" ng-hide="tundaEdit.minGt.$valid" >
			<small class="error" ng-show="tundaEdit.minGt.$error.max"><a class="fa fa-ban fa-lg" aria-hidden="true"></a> <span>GT Min. tidak bisa lebih dari GT Max.</span></small>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="max-10"><span class="text-danger">*</span>GT Max. </label>
		<div class="col-sm-7">
			<input type="number" only-num min="1" name="maxGt" class="form-control"  ng-model="dataTunda.maxGt" required>
		  	<span class="has-error" ng-show="tundaEdit.maxGt.$touched && tundaEdit.maxGt.$invalid">
				Isi GT Max. dibutuhkan.
		  	</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="tetap-10"><span class="text-danger">*</span>Tarif Tetap</label>
		<div class="col-sm-7">
			<input type="number" maxlength="15" decimal-number min="0" name="tarifTetap" class="form-control"  ng-model="dataTunda.tarifTetap" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/"  step="0.01"  required>
		  	<span class="has-error" ng-show="tundaEdit.tarifTetap.$touched && tundaEdit.tarifTetap.$invalid">
				Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
		  	</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="variabel-10"><span class="text-danger">*</span>Tarif Variabel</label>
		<div class="col-sm-7">
			<input type="number" maxlength="15" decimal-number min="0" name="tarifVariabel" class="form-control"  ng-model="dataTunda.tarifVariabel" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/"  step="0.01"  required>
		  	<span class="has-error" ng-show="tundaEdit.tarifVariabel.$touched && tundaEdit.tarifVariabel.$invalid">
				Isi tarif dibutuhkan (maksimal 4 angka di belakang koma).
		  	</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="valuta-10"><span class="text-danger">*</span>Valuta</label>
		<div class="col-sm-7">
		  	<select pf-select ng-options='option.value as option.caption for option in valuta' ng-model="dataTunda.valuta" required></select>
	  	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="jenisNegara"><span class="text-danger">*</span>Jenis Negara</label>
		<div class="col-sm-7">
		  	<select pf-select ng-options='option.value as option.caption for option in jenisNegara' ng-model="dataTunda.jenisNegara" required></select>
	  	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="file-10"><span class="text-danger">*</span>Dok. Pendukung</label>
		<div class="col-sm-7">
		 	<input type="file" id="file-1" class="form-control" file-input="uploadFile" onchange="checkExt();" accept=".pdf,.jpg">

		 	<a href="" ng-click="buildPDF()"><i class="fa fa-file-pdf-o" ng-show="dataTunda.dokumen"></i> {{dataTunda.dokumen}}</a>
		</div>
	  	<a class="large info-tooltip" data-module-name="mgcrea.ngStrapDocs" ng-plunkr data-html="true" data-title="{{tooltipInfo}}" data-placement="right" bs-tooltip><i class="fa fa-question-circle fa-lg color-icon-question"></i></a>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-7">
			<button class="btn btn-default btn-lg" ng-click="cancel()">Batal</button>
			<button type="submit" class="btn btn-primary btn-lg" ng-disabled="tundaEdit.$invalid;" ng-click="submit();showLoader=true;buttonDisabled=true">Simpan</button>

			<button type="submit" class="btn btn-primary btn-lg" ng-disabled="tundaEdit.$invalid;" ng-click="submitApproval();showLoader=true;buttonDisabled=true">Approval</button>
		</div>
	</div>
</form>
<script>
  // Initialize Boostrap-datepicker
  $('#tgl-10').datepicker({
	autoclose: true,
	todayBtn: "linked",
	todayHighlight: true
  });
   var checkExt = function() {
	if(document.mainForm.myfile.value.lastIndexOf(".pdf")==-1) {
	   alert("file harus format PDF");
	   return false;
	}
  }
</script>
