<h2>Master Dokumen Kapal Kegiatan Tetap</h2>
<div pf-filter config="filterConfig"></div>

<table class="datatable table table-striped table-bordered">
	<thead>
		<tr>
            <td colspan="10">
            	<span>Show :</span>
	            <select ng-init="number='10'" ng-options="option.number for option in optionSizePage.availableOptions track by option.number" ng-model="optionSizePage.selectedOption" ng-change="pageChanged(0)"></select>
                <input type="button" ng-show="userRole.cflag" onclick="location.href='#/dokkapal/new';" value="Kapal Kegiatan Tetap Baru" class=" btn-list btn btn-default pull-right" />
            </td>
        </tr>
        <tr>
            <td colspan="10" class="text-center">{{pagingText}}</td>
        </tr>
		<tr>
			<th>No</th>
			<th ng-click="sortBy='kode'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Kode Kapal</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kode' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kode' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='nama'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Nama Kapal</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'nama' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'nama' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='kodeAgen'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Agen</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'kodeAgen' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'kodeAgen' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='noSuratKeputusan'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">No. Surat Keputusan</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'noSuratKeputusan' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'noSuratKeputusan' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='tglMulaiBerlaku'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Tgl. Mulai Berlaku</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglMulaiBerlaku' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglMulaiBerlaku' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='tglSelesaiBerlaku'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Tgl. Selesai Berlaku</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglSelesaiBerlaku' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglSelesaiBerlaku' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='tglDitetapkan'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Tgl. Ditetapkan</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'tglDitetapkan' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'tglDitetapkan' && sortDesc)}"></span></div>
			</th>
			<th ng-click="sortBy='status'; sortDesc = !sortDesc; pageChanged(0);">
				<div class="pull-left">Status</div>
				<div class="pull-right"><span class="fa fa-sort" ng-class="{'fa-sort-up fa-large':(sortBy === 'status' && !sortDesc),'fa-sort-down fa-large':(sortBy === 'status' && sortDesc)}"></span></div>
			</th>
			<th class="table-col-full text-center">Action</th>
		</tr>
	</thead>
  	<tbody>
		<tr ng-repeat="item in items">
			<td>{{noIndex+$index +1}}</td>
			<td class="col-sm-1">{{item.kode}}</td>
			<td class="col-sm-2">{{item.nama}}</td>
			<td class="col-sm-2">{{item.kodeAgenText}}</td>
			<td class="col-sm-1">{{item.noSuratKeputusan}}</td>
			<td class="col-sm-1">{{item.tglMulaiBerlaku | date: "dd-MM-yyyy"}}</td>
			<td class="col-sm-1">{{item.tglSelesaiBerlaku | date: "dd-MM-yyyy"}}</td>
			<td class="col-sm-1">{{item.tglDitetapkan | date: "dd-MM-yyyy"}}</td>
			<td class="col-sm-1">{{item.status}}</td>
			<td class="text-center">
				<a href="#/dokkapal/view/{{item.id}}" type="button" ng-show="userRole.rflag" class="btn btn-default btn-xs" title="View"><span class="fa fa-eye" ></span></a>
                <a href="#/dokkapal/edit/{{item.id}}" type="button" ng-show="userRole.uflag" class="btn btn-default btn-xs" title="Edit"><span class="fa fa-pencil-square-o"></span></a>
                <a ng-click="deleteDokKapal(item.id)" type="button" ng-show="userRole.dflag" class="btn btn-danger btn-xs" title="Delete"><span class="fa fa-times"></span></a>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<paging class="small" page="currentPage" page-size="pageSize"
		total="totalItems" adjacent="2" dots="..." scroll-top="true"
		hide-if-empty="false" ul-class="pagination" active-class="active"
		disabled-class="disabled" show-prev-next="true"
		style="cursor: pointer;" paging-action="pageChanged(page)">
	</paging>
</div>
<script>
	$('.selectpicker').selectpicker();
</script>
