
<div class="form-group">
<h2><b>Akses Ditolak</b></h2>
<br>
	<div class="col-sm-1">
	<i class="fa fa-ban fa-4x" style="color:red;"></i>
	</div>

	<div class="col-sm-7">
	Akses anda telah ditolak.<br/>
	Role pengguna Anda saat ini tidak memiliki ijin untuk mengakses halaman yang diminta.<br/><br/>
	Silahkan login sebagai pengguna dengan role yang sesuai.<br><br>


	<div class="col-sm-6 pull-right">
		<form class="form-group " name="permission" >
		 
            <button type="button" class="btn btn-default btn-lg" ng-click="buttonBack()">
             <i class="fa fa-angle-double-left"></i> Kembali</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-lg" ng-disabled="alatApungForm.$invalid;" ng-click="logOut()"><span class="spinner spinner-xs spinner-inline" ng-show="showLoader"></span> Login Ulang</button>         
			
		 </form>
	</div>

	</div>
	
</div>

